* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
}

p {
    line-height: 130%;
    color: #333;
}

html {
    background-color: lightgray;
    color: #555;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.topbar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: orange;
}

.topbar p {
    text-align: center;
    font-size: 22px;
    width: 800px;
    line-height: 100%;
    margin: 0 auto;
    padding-top: 13px;
}

.topbar a {
    color: white;
    text-decoration: none;
}